/*
div {
	background-color: #E5E2D8; padding: 10px; width: 190px;
}

h1 {
  font-size: 1.7em !important; font-family: 'Book Antiqua', serif; color: #1c1c1c !important; margin: 0px;
}
p {
font-family: 'Garamond', serif; color: #1c1c1c; font-size: 1.2em; margin: 0px;
}
a.one:link {color:#1c1c1c; font-family: 'Garamond', serif; font-size: 1.2em;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00; text-decoration:underline;}
a.two:link {color:#1c1c1c; font-family: 'Garamond', serif; font-size: 1.2em}
a.two:visited {color:#0000ff;}
a.two:hover {color:#ffcc00; text-decoration:underline;}
*/